/*****************************/
/* Base Styles
/*****************************/
@import 'variables';

/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: $font-size-root;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base; /* defaults to 1.5rem or 15px */
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  /* Go easy on the eyes and use something other than `#000` for text */
  color: $body-color;
  /* By default, `<body>` has no `background-color` so we set one as a best practice. */
  background-color: $body-bg;
}

/* Misc
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
 hr {
   margin-top: 3rem;
   margin-bottom: 3.5rem;
   border-width: 0;
   border-top: 1px solid $gray-border;
 }

/* Element Margins
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

/* Utilities
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Widths */
.full-width {
  width: 100%;
}

/* Centering & Floating */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

/* Show/Hide */
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden;
}

/* Self Clearing Goodness */
.cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
