/*****************************/
/* Application Variables
/*****************************/

/* Colors
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
$black: #222;
$white: #fff;

/* Grayscale
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
$gray-base: $black;
$gray-darker: #3e3f3a;
$gray-dark: #8e8c84;
$gray: #98978b;
$gray-light: #dfd7ca;
$gray-lighter: #eee;
$box-shadow: rgba(0, 0, 0, 0.125);
$background-shadow: rgba(0, 0, 0, 0.45);

/* Branding
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
$primary: #0e687a;
$success: #93c54b;
$info: #25bcca;
$warning: #f47c3c;
$danger: #d9534f;

/* Z-Indices
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
$modal-bg: 1000;
$modal: 1001;

/* Misc Elements
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
$body-color: $gray-base;
$body-bg: $white;

$gray-border: $gray-lighter;

$code-color: #c7254e;
$code-bg: #f9f2f4;
$code-border: $gray-border;

/* Typography
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-family-base: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-code: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
$font-size-root: 10px;
$font-size-base: 1.5rem;
$font-weight-base: 400;
$line-height-base: 1.6;
$abbr-border-color: $gray-light;
$text-muted: $gray;

/* Anchors
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
$link-color: $info;
$link-decoration: none;
$link-hover-color: color($link-color blackness(+ 15%));
$link-hover-decoration: underline;

/* Buttons
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Color */
$button-color: $gray-darker;
$button-color-hover: $black;
$button-color-disabled: $gray;

/* Border */
$button-border: color($button-color lightness(+ 40%));
$button-border-color-hover: color($button-color-hover lightness(+ 5%));
$button-border-color-disabled: color($button-color-disabled a(65%));

/* @TODO Handle branding separately */
$primary-button-color: #fff;
$primary-button-bg: $primary;
$primary-button-bg-hover: color($primary-button-bg blackness(+ 15%));
$primary-button-bg-disabled: color($primary-button-bg a(65%));

/* Tables
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
$table-bg: transparent;
$table-cell-padding: 0.75rem;
