/*****************************/
/* React Skeleton UI Styles
/*****************************/

/* Variables */
/* If you would like to customize, replace this file with your variable choices */
@import 'variables';

/* Reset Browser Jank */
@import 'normalize';

/* Setup Base Styles */
@import 'base';

/* That Sweet Ass Flexbox Grid */
@import '../../node_modules/flexboxgrid/dist/flexboxgrid.css';

/* Skeleton Elements CSS */
@import './elements/typography';
@import './elements/buttons';
@import './elements/forms';
@import './elements/lists';
@import './elements/code';
@import './elements/tables';
@import './elements/cards';
@import './elements/media-queries';
