/*****************************/
/* Button Styles
/*****************************/
@import '../variables';

.card {
  box-shadow: $box-shadow 0px 1px 6px, $box-shadow 0px 1px 4px;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 20px;
}
