/*****************************/
/* List Styles
/*****************************/

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

/* Button Group Lists
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* No styles for .list-group at this time, list group items have styling */
.list-item {
  /* Hovering and being active receive gray backgrounds */
  &:hover { background-color: $gray-lighter; }
  &.active { background-color: $gray-light; }

  .btn {
    padding-left: 2rem;
    width: 100%;
    /* Give buttons 5px more height for list groups */
    height: 43px;
    line-height: 43px;
  }
}
