/*****************************/
/* Example Page Styles
/*****************************/

.container-fluid {
  max-width: 800px; /* Tighten up the grid for examples, looks better */
}

/* Add a bit more margin to the <hr> between each example */
.example-rule {
  margin: 3.5rem 0 4rem;
}

/* Rad styling from getskeleton.com for example headers */
.docs-header {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 600;
}
